#select:hover{
    background-color: #dadada;
    cursor: pointer;
}
#search-btn:hover{
    background-color: #f3a847;
}
.main-logo-box:hover{
    border: 1px solid #fff;
}
#map:hover{
    border: 1px solid #fff;
    padding: 0 0.5vw;
}
#lang:hover{
    border: 1px solid #eee;
}