@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&family=Roboto:ital,wght@0,300;1,100&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Anton&family=Public+Sans:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #131921;
}

nav {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-belt-top {
    height: 80%;
    width: 98%;
    margin: auto;
    display: flex;
    align-items: center;
}

.nav-top-left {
    height: 100%;
    width: 26%;
    display: flex;
    align-items: center;
    position: relative;
}

.main-logo-box {
    width: 41%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    right: 5px;
    border: 1.5px solid transparent;
}

#logo {
    width: 98%;
    height: 98%;
    overflow: hidden;
    background: url(https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-celnav._CB590297325_.png);
    background-repeat: no-repeat;
    background-position-y: -41px;
    background-position-x: -3px;
}

.main-logo-box a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    height: 101%;
    width: 97%;
    align-items: center;
    top: -2px;
}

#logo-link {
    font-size: 14px;
    font-weight: bolder;
    height: 9%;
    width: 9.2%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 0.5vh 0.5vh 0vh;
    position: fixed;
}

#location-btn {
    background: transparent;
    height: fit-content;
    width: fit-content;
}

#map {
    height: 100%;
    width: 49.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: 10.2vw;
    cursor: pointer;
}

.map-icon {
    margin: 0.5vh 0.1vw 0 0;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-text {
    height: 100%;
    width: 85%;
}

.nav-top-middle {
    height: 100%;
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -2.5vh;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    overflow: hidden;
    border-radius: 5px;
}

.dropdown-manu-item {
    height: 100%;
    width: 9.5%;
}

.dropdown-manu-item select {
    height: 100%;
    width: 100%;
    padding-left: 0.5vw;
    outline: none;
    border: none;
    background-color: #f3f3f3;
    border-right: 1px solid #cdcdcd;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
}

.dropdown-manu-item select:hover {
    background-color: #dadada;
}

.inout-search {
    width: 82.5%;
    height: 100%;
}

#search-input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding-left: 0.7vh;
    font-size: 1rem;
    font-weight: bolder;
    padding-bottom: 0.8vh;
}

.serch-btn {
    height: 100%;
    width: 8%;
}

.serch-btn button {
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: #febd69;
    font-size: 1.3em;
    border: none;
    outline: none;
}

.serch-btn button:hover {
    background-color: #f3a847;
    ;
}

.nav-top-right {
    height: 100%;
    width: 29.5%;
    display: flex;
    align-items: center;
    position: relative;
    left: -1.1vh;
}

#lang{
    height: 100%;
    width: 19.8%;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.flag-img{
    height: 30%;
    width: 28%;
    overflow: hidden;

}

.flag-img img{
    height: 100%;
    width: 100%;
}

#select2{
    width: 56%;
    height: fit-content;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    font-weight: bolder;
    cursor: pointer;
    margin: 0 0.3vw 0 0;
}
#sign-in{
    height: 100%;
    width: 36%;
}
#sign-in a{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
#sign-in a > div{
    position: relative;
    left: -2.8vh;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
}
#sign-in a > span{
    position: relative;
    left: -3px;
    top: -2px;
    color: #fff;
    font-weight: bolder;
    font-family: 'Public Sans', sans-serif;
}
#return-order{
    height: 100%;
    width: 21%;
    border: 2px solid transparent;
    overflow: hidden;
}
#return-order:hover{
    border: 1.7px solid #fff;
}
#return-order a{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fffFFF;
    text-decoration: none;
}
#return-order a #orderspan{
    font-size: 12px;
    font-weight: bold;
    position: relative;
    left: -8px;
}
#return-order a #bottom-link-text{
    font-weight: bold;
    position: relative;
    top: 0px;
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
}
#cart{
    width: 23.2%;
    height: 100%;
    position: relative;
    left: 2.5px;
    border: 1px solid #eee;
}