.text-small{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    position: absolute;
    top: 1vh;
}

.text-grey{
    color: #ceccd3;
}
.text-bold{
    font-weight: bolder;
}
.border-white{
    border: 1.5px solid transparent;
}
.border-white:hover{
    border: 1.7px solid #eee;
}
.visible{
    display: flex!important;
    transition: all 0.5s;
}